<cdk-virtual-scroll-viewport class="virtual-scroller" [itemSize]="48">
  <div class="pokepicker">
    <div class="pokepicker-row" *cdkVirtualFor="let row of pokemonRows">
      <ng-container *ngFor="let pokemon of row">
        <button [pokepickerItem]="pokemon" [active]="pokemon.key === activePokemonKey" (click)="selectPokemon.emit(pokemon)">
          <app-pokeicon [pokemon]="pokemon" [height]="48"></app-pokeicon>
        </button>
      </ng-container>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
