:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.trigger {
  position: relative;
  &:focus {
    outline: none;
  }

  .icon {
    position: absolute;
    right: 4px;
    bottom: 0;
    color: #fff;
    border: 1px solid #fff;
    background: #808080;
    padding: 2px;
    border-radius: 4px;
  }
}

.search-input {
  margin-bottom: 4px;
}

.pokepicker {
  width: 240px;
  height: 300px;
}

.description {
  font-size: 0.8rem;
}
