<ng-container *ngIf="state$ | ngrxPush as state">
  <button class="trigger" nz-popover [nzPopoverContent]="pokepicker" [nzPopoverTrigger]="'click'">
    <app-pokeicon [pokemon]="value" [height]="48"></app-pokeicon>
    <i class="icon fas fa-pen"></i>
  </button>

  <ng-template #pokepicker>
    <div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
      <input
        class="search-input"
        tabindex="0"
        placeholder="名前で検索（かな/カナ/ローマ字）"
        nz-input
        (input)="onSearchChange($any($event.target).value)"
        (keydown.tab)="moveFocusToPokepicker($event)"
        (keydown.arrowdown)="moveFocusToPokepicker($event)"
      />

      <app-pokepicker class="pokepicker" [pokemons]="state.pokemons" (selectPokemon)="selectPokemon($event)"></app-pokepicker>

      <div class="description">
        <span nz-typography nzType="secondary">矢印キーで移動 / Enterキーで確定</span>
      </div>
    </div>
  </ng-template>
</ng-container>
