:host {
  display: block;
  height: 100%;
}

.buttons {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-win {
  background-color: #fffefe;
  font-weight: bold;

  &.is-selected {
    border-width: 0;
    background-color: #54baf5;
    color: white;
  }
}
.button-loss {
  background-color: #fffefe;
  font-weight: bold;

  &.is-selected {
    border-width: 0;
    background-color: #fb2d2d;
    color: white;
  }
}
