<ng-container *ngIf="matchTable$ | async as matchTable">
  <div class="match-table">
    <div class="match-table-header">
      <div class="header-row">
        <div class="header-column"></div>
        <div class="header-row-cell party-member" *ngFor="let pokemon of matchTable.party.members; index as partyIndex">
          <app-pokeicon [pokemon]="pokemon"></app-pokeicon>
          <app-pokeselect [value]="pokemon" (valueChange)="changePartyPokemon(matchTable, partyIndex, $event)"></app-pokeselect>
        </div>
      </div>
    </div>
    <div class="match-table-body">
      <div
        class="match-table-row"
        [class.has-no-win-match]="enemy.hasNoWinMatch"
        *ngFor="let enemy of matchTable.enemies; index as enemyIndex"
      >
        <div class="header-column enemy">
          <app-pokeicon [pokemon]="enemy.pokemon" [height]="32"></app-pokeicon>
          <app-pokeselect [value]="enemy.pokemon" (valueChange)="changeEnemyPokemon(matchTable, enemyIndex, $event)"></app-pokeselect>
          <button
            class="remove-button"
            nz-button
            nzSize="small"
            nzShape="circle"
            (click)="removeEnemy(matchTable, enemyIndex)"
            *ngIf="enemyIndex !== 0"
          >
            <i nz-icon nzType="close" nzTheme="outline"></i>
          </button>
        </div>
        <div class="table-cell match" *ngFor="let match of enemy.matches; index as matchIndex">
          <app-match-input [value]="match" (valueChange)="changeMatch(matchTable, enemyIndex, matchIndex, $event)"></app-match-input>
        </div>
      </div>
      <div class="match-table-row">
        <div class="table-cell">
          <button nz-button nzType="default" nzShape="circle" (click)="addEnemy(matchTable)">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
