:host {
  display: block;
  width: 100%;
}

.match-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;

  .table-cell {
    width: 144px;
    height: 96px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.match-table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  border-bottom: 1px solid #000;

  .match-table-header-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.header-title {
  font-size: 1.3rem;
}

.match-table-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .match-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.has-no-win-match {
      background: #ffccd0;
    }
  }
}

.enemy {
  position: relative;

  .remove-button {
    position: absolute;
    top: 4px;
    left: 4px;
  }
}
