:host {
  display: inline-block;
  // width: 100%;
}

$columnWidth: 100px;
$headerColumnWidth: 160px;
$headerRowHeight: 84px;

.icon {
  color: #7d7d7d;
}

.match-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;

  .table-cell {
    width: $columnWidth;
    padding: 4px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .header-column {
    width: $headerColumnWidth;
  }

  .header-row {
    height: $headerRowHeight;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    > .header-row-cell {
      width: $columnWidth;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.match-table-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  border-bottom: 1px solid #000;
}

.match-table-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .match-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.row-odd {
      background-color: #f0f0f0;
    }

    &.has-no-win-match {
      background-color: #ffccd0;
    }
  }
}

.party-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  > app-pokeselect {
    margin: 4px;
  }

  .pokemon-label {
    flex: 1 1 auto;
  }

  .reset-party-member-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.enemy {
  display: flex;
  flex-direction: row;
  align-items: center;

  > app-pokeselect {
    width: 58px;
    margin: 4px;
  }

  .pokemon-label {
    flex: 1 1 auto;
    justify-self: flex-start;
  }
}
