<header>
  <h1 nz-typography>pokepartymatch</h1>
  <p nz-typography>
    「パーティ構築したけど、あのポケモンの対策できてるかな？」を確認するためのツールです。<br />
    入力したデータはブラウザに保存されます。
  </p>
</header>

<main>
  <app-match-table></app-match-table>
</main>

<footer>
  <div nz-typography>
    更新履歴
    <ul>
      <li>v1.1: 鎧の孤島対応</li>
      <li>v1.0: サービス公開</li>
    </ul>
  </div>
  <p nz-typography>
    本サービスは非公式サービスです。株式会社ポケモンおよび任天堂株式会社とは一切関係ありません。<br />
    &copy; 2020 <a href="https://twitter.com/laco2net">lacolaco</a>
  </p>
</footer>
