:host {
  display: block;
  min-width: 900px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px 0px;

  .header-description {
    font-size: 0.8rem;
  }
}

footer {
  padding: 16px 16px 0px;
}

.version {
  font-weight: 600;
}
