:host {
  display: block;
  min-width: 900px;
}

.header {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 0px;

  .header-logo {
    margin-right: 16px;
  }

  .header-description {
    font-size: 0.8rem;
  }
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  width: 900px;
  margin: auto;
  padding: 16px 16px 16px;
}

.version {
  font-weight: 600;
}
